.pone {
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 3px solid red;
    height: 40px;
    padding-top: 20px;
    padding-left: 20px;
}

.ptwo {
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 3px solid black;
    height: 110px;
    width: 300px;
    margin-left: 10px;
    text-align: center;
    padding-top: 50px;
}

.pthree {
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 3px solid black;
    height: 90px;
    width: 300px;
    margin-left: 10px;
    text-align: center;
    padding-top: 45px;
}

.pfour {
    background-color: white;
    color: black;
    border-radius: 10px;
    border: 3px dashed red;
    height: 90px;
    width: 600px;
    margin-left: 10px;
    text-align: center;
    padding-top: 45px;
}

.pfive {
     background-color: white;
    color: black;
    border-radius: 10px;
    border: 3px dashed red;
    height: 90px;
    width: 540px;
    margin-left: 10px;
    padding-left: 60px;
    padding-top: 45px;
}