body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.d1 {
    height: 700px;
    width: 450px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 1px 1px 100px 5px grey;             

}

img {
    height: 400px;
    width: 400px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    margin-top: 25px;
    
}

h1 {
    color: rgb(3, 3, 95);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;

}

h3 {
    color: rgb(117, 116, 116);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}